
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Privacy</h2>

<p>
    Information gathered from this website is by no means used for private reconciliation.
    All information is secured and protected by the POPI Act of South Africa
</p>