<!--GUI - Shivani M-->
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="font-family : cursive;
    font-weight : bold;
    font-style: italic;
    color: aquamarine;">
    ABOUT US
</h3>
<a style="color:blue;font-weight:bold; font-size:13px" href="#">Download End User Manual</a>
<p style="color:white;font-weight:bolder">Smokers tavern is a growing local business situated in the Phoenix Plaza.</p>
